@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
  color: #818181;
}

h1{
    font-size: 28px;
}


button:hover {
  cursor: pointer;
}


nav {
    display: flex;
    padding: 50px 0px 0px 60px;
    width: 150px;
}

header{
    background-color: #51aefa;
}

ul{
    list-style-type: none;
}

nav>ul{
    margin-top: 50px;
}

nav>ul>li{
    margin-bottom: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

select{
    outline: none;
    padding: 2px 0 2px 10px;
    border-radius: 10px;
    border:none;
    background-color: rgb(238, 237, 237);
    margin-bottom: 25px;
    height: 40px;
    font-size: 16px;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
    align-items: center;
    background-color: #e6f0fa;
}

#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

#conteudo{
    display: flex;
    flex-direction: row;
    height: 100%;
}

table {
    border-collapse: collapse;
    overflow: hidden;                      
    background-color: #ffffff;
    font-size: 18px;
    width: 100%;
}

thead {
    background-color: #e9e9e9;
    height: 30px;
    color: #a1a1a1;
}

th,
 td {
  padding: 0.5rem;
  text-align: left;
}

tr:hover{
    background-color: #e9e9e9;
}

input {
    outline: none;
}

form .titulo{
    margin-bottom: 20px;
}

form h2 {
    margin-bottom: 10px;
}


.actions{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.actions button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: white; 
    font-size: 20px;
}


.visualizar {
    background-color: #51aefa;
}

.editar{
    background-color: rgb(255, 228, 109);
}

.excluir{
    background-color: rgb(255, 109, 109);
}

.divida{
    background-color: rgb(136, 167, 82);
}

.pagar {
    background-color: #63ffa4;
}

.pago{
    background-color: #a1a1a1;
}

.visualizar:hover {
  background-color: #369be9;
}

.editar:hover {
  background-color: #ceaf32;
}

.excluir:hover {
  background-color: #fd4f4f;
}

.divida:hover{
    background-color: rgb(91, 117, 44);
}

.pagar:hover{
    background-color: #3d9c65;
}

.tabela-container{
    width: 1200px;
    border-radius: 10px;  
}

.tabela-header{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px 5px 0 0 ;
}

.tabela-header>h1{
    margin-top: 5px;
}

.funcionalidades{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabela-footer{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-top: #ccc solid 1px;
    border-radius: 0 0 5px 5px;
}

.tabela-footer>p{
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.paginacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.paginacao>p{
    margin: 0 20px 0 20px;
}

.paginacao button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #3dc4fa;
    border-radius: 4px;
    color: #818181;
    font-size: 18px;
}

.paginacao button:hover{
    color: white;
    transition: 0.4s;
}

.erros>.erro{
    background-color: #fde9e9;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 89, 89);
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.erros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabela-header input{
    height: 40px;
    width: 200px;
    margin: 0 0 0 10px;
    padding: 2px 0 2px 10px;
    border-radius: 10px;
    border:none;
    background-color: rgb(238, 237, 237);
    font-size: 18px;
}

.tabela-header input:focus{
    background-color: rgb(211, 211, 211);
    width: 220px;
    height: 30px;
    transition: 0.4s;
}


.tabela-header button{
    height: 40px;
    margin: 0 10px 0 0 ;
    width: 120px;
    background-color: rgb(135, 253, 141);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline-offset: 0;
    color: #818181; 
}

.tabela-header button:hover{
    transition: 0.4s;
    background-color: rgb(65, 167, 70);
    color: #ffffff;
}


.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.60);
}

.modal form {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: white;
    height: fit-content;
    border-radius: 16px;
}

.modal form input {
    padding: 2px 0 2px 10px;
    border-radius: 10px;
    border:none;
    background-color: rgb(238, 237, 237);
    margin-bottom: 25px;
    height: 40px;
    font-size: 16px;
}

.modal form textarea{
    border-radius: 10px;
    border:none;
    background-color: rgb(238, 237, 237);
    font-size: 16px;
    padding: 2px 0 2px 10px;
    height: 70px;
    margin-bottom: 30px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: rgb(107, 196, 255);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #818181; 
}

button[type="submit"]:hover{
    color: white;
    transition: 0.4s;
}

button[type="reset"] {
    background-color: gray;
    width: 100px;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    color: white; 
}

button[type="reset"]:hover{
    color: #818181; 
    background-color: rgb(238, 237, 237);
    transition: 0.4s;
}

.hidden{
    display: none;
}

.modal-deletar,
.modal-pagar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}


.modal-deletar h2,
.modal-pagar h2{
    margin-top: 100px;
}

.modal-deletar .row,
.modal-pagar .row
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-deletar button,
.modal-pagar button {
    margin-left: 10px;
    margin-right: 10px;
}

.modal-view{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    min-width: 600px;
    min-height: 300px;
    max-height: 700px;
    max-width: 700px;
}

.modal-view>h2{
    margin-top: 20px;
}

.dados {
    font-size: 24px;
}

.modal-divida>button{
    margin-top: 200px;
}

.dividas{
    margin-top: 5px;
    max-height: 300px; /* altura máxima visível */
    overflow-y: auto;  /* ativa scroll vertical */
    border: 1px solid #ccc; /* opcional: borda para separar visualmente */
    padding: 10px;     /* opcional: espaço interno */
    border-radius: 5px; /* opcional: cantos arredondados */
    background-color: #f3f3f3; /* opcional */
}

.modal-view>h1{
    margin-top: 50px;
}

.dividas .divida {
    margin-bottom: 10px;
    border-radius: 5px;
}

.divida.paga {
    background-color: #91eeb8; 
}

.divida.aberta {
    background-color: #ffa6a6; 
}



.modal-view>.titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.checkbox-item{
    display: flex;
    align-items: center;
}
.checkbox-item>input{
    margin-left: 10px;
}

